@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bfc2de;
}

.support-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.support-container h1 {
    text-align: center;
    color: #1c0e3a;
    margin-bottom: 20px;
}

.contact-section, .form-section {
    margin-bottom: 30px;
}

.contact-section h2, .form-section h2 {
    color: #1c0e3a;
    margin-bottom: 10px;
}

.contact-section p, .form-section p {
    color: #333333;
    line-height: 1.6;
}

.contact-section a, .form-section a {
    color: #7e1b10;
    text-decoration: none;
}

.contact-section a:hover, .form-section a:hover {
    text-decoration: underline;
}

.form-section form {
    display: flex;
    flex-direction: column;
}

.form-section label {
    margin-bottom: 5px;
    color: #333333;
}

.form-section input, .form-section textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1em;
}

.form-section .cta-button {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #1c0e3a;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-section .cta-button:hover {
    background-color: #7e1b10;
}

/* Stili generali per il popup */
.support-popup {
    display: none; /* Nasconde il popup inizialmente */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.support-popup-content {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Stile per il pulsante di chiusura */
.support-popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    transition: color 0.3s;
}

.support-popup-close:hover {
    color: #ff0000; /* Cambia colore al passaggio del mouse */
}
